@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
.page-container{
width: 80%;  
 margin:auto;
 justify-content: center;
 align-items: center;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.car-image{
    width: 100%;
}
.car-image img{
    width: 40%;
    height: 70vh;
}
.tools-text{
    background-color: #000;
    color: #fff;
    position: absolute;
    width: 60%;
    right: 10%;
    height: 70vh;
    padding: 5rem;
}
.tools-text h1{
    font-size: 10vh;
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;

}
.tools-text p{
    width: 80%;
    margin: auto;
}
.orange-btn {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 11%;
    display: inline-block;
    color: #fff;
    margin-top: 3rem;
    border: none;
    cursor: pointer;
}
.tools-container{
    display: flex;
    flex-direction: row;
    height: 85vh;
    width: 100%;
    position: relative;
}
#diagnostics{
    width: 100%;
    background-color: rgb(245, 248, 248);
    height: 100vh;
}
#diagnostics .page-container{
    width: 100%;
}
.flex{
    display: flex;
    flex-direction: row;
    padding: 60px;
    
}

.left-section-diagnostic{
width: 50%;
height: 100%;
background-color: #fff;
display: flex;
flex-direction: column;
}
.image-diagnostic img{
    width: 80.5vh;
    margin-top: 5%;
    margin-left: 5%;
    height: 40vh;

}
.text-diagnostic{
    width: 60vh;
    margin-top: 2%;
    margin-left: 5%;
    height: 20vh;
}
.text-diagnostic h1{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20%;
    margin-bottom: 10px;
}
.text-diagnostic p{
    line-height: 20px;
}
.service-detail{
    display: flex;
    gap: 10px;
    margin-left: 30px;
    margin-top: 1rem;
    margin-bottom: 10px;
}
.arrow img{
    height: 10px;
}
.right-section-diagnostic{
    width: 50%;
    height: 100%;   
}
.image-offer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 60%;
    margin-top: 10px;
    margin-left: 15%;
}
.log-one{
    height: 22.5vh;
    background-color: #fff;
    width: 24.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.log-one .box-offer{
    height: 100%;
    width: 100%;
    color: #fff;
     background-color: #FF6433;

}
.work-contain{
    display: flex;
    flex-direction: row;
    
}
.left-side{
    width: 50%;
    margin-top: 5%;
}
.left-side .process{
    display: flex;
    flex-direction: column;
}
.process .clear-text h3{
    font-size: 25px;
    margin:2rem;
}
.process .one-get-quote{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 10px;
}
.process .one-get-quote .imsge-one img{
    height: 25px;
    margin-left: 20px;
}
.right-side{
    width: 50%;
}
.image-cars{
    display: flex;
    flex-direction: row;
}

.image-1 img{
width: 90%;
height: 80.5%;
margin-top: 20%;
}
#problems .page-container .flex .left-side .process .clear-text h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4rem;
}
#problems .page-container .flex .left-side .process .clear-text button{
    margin-left: 0%;
    margin-top: 3rem;
    border: none;
}
#touch{
    display: flex;
     background-color: #000;
     color: #fff;
     width: 100vw;
     opacity: 0.98;
     height: 549px;
}

#touch .left-side-part{
        width: 50%;
}

#touch .left-side-part{
    padding: 10rem 0 25rem 4rem;
    
}

#touch .left-side-part .logo-touch{
    padding-top: 4rem;
    display: flex;
    
}

#touch .left-side-part .logo-touch img{
   padding-left: 2rem;
}

.text-touch{
    font-size: 48px;
    line-height: 67.2px;
    
}

#touch .right-side-part{
    width: 50%;
    
}

#touch .right-side-part{
    padding: 10rem 0 20rem 1rem;
    margin-left: 97px;
    
   
}

.help{
    width: 357px;
    height: 32px;
    margin-left: 40.83%;
    margin-right: 40.99%;
    display: block;
    margin-top: 2rem;
   
}

.help p{

opacity: 0.6;
  
}

#menu{
    width: 100vw;
    background-color: #1E1B1B;
    color: #fff;
}

.last-header{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
   
}

.last-header .left-section-part{
    width: 40%;
}

.last-header .right-section-part{
    width: 60%;
   
}

.right-section-part {
   display: flex; 
    justify-content: space-between;
    
}

.navig ul li {
    margin-right: 20px;
    display:inline-flex;
    justify-content: space-around;
}

.right-section-part ul li a {
    text-decoration: none;
    color:#fff;
   
}
